/* PHASE 9: Forms */
.thumb {
  
}

.submit:focus {
  background-color: green;
  color: white;
}
.submit  {
  background: #0c0;
  font-weight: 700;
  box-shadow: 0 3px 0 0 #070;
  border-radius: 5px;
  padding: 5px;
}

.input{
  float: left;
}